extends layout

block content
  h1(class="page-header")= title
  
  div.container
    a(href='/',style="float:right") Home

    h3 Welcome #{user_data.status.name}
    p This page used api: #{api}
    table(class="table")
      thead
        tr
          th Action
          th Kind
      tbody
        - var items = user_data.status.roles_list[0].resources.permission_list
        - each item in items
          tr
            td= item.target_action
            td= item.target_kind
